body {
    margin: 0px;
    overflow: scroll;
    background-color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contents-rect {
    width: 60%;
    height: 100vh;
    margin: 0px 20% 0px 20%;
    background-color: white;
}

.contents-container-separator {
    width: 90%;
    height: 1px;
    margin: 0 5% 0 5%;
    border-radius: 5%;
    background-color: #f2f2f2;
}

.contents-music-box-image-container {
    width: 128px;
    height: 128px;
    margin-right: 13px;
    border: 1px solid #ccc
}

.contents-music-box-image{
    width: 100%;
    height: 100%;
}

.contemts-music-box-text-container {
    width: 100%;
    height: 10%;
}

.contents-music-box-text {
    color: #333;
    display: block;
    font-size: 12px;
    padding-left: 2px;
}

.contents-music-box-artist {
    color: #999;
    display: block;
    font-size: 10px;
    padding-left: 2px;
}

.contents-music-link-to-track {
    display: block;
    text-decoration: none;
}

.contents-music-link-to-artist {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.contents-music-box {
    display: block;
}

@media screen and (max-width: 1400px) {
    .contents-music-box-image-container {
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }

    .contents-music-box-artist {
        font-size: 9px;
    }

    .contents-music-box-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 1235px) {
    .contents-music-box-image-container {
        margin-right: 5px;
    }
}

@media screen and (max-width: 1165px) {
    .contents-rect {
        width: 690px;
    }

    .contents-music-box-image-container {
        margin-right: 5px;
        flex-direction: column;
    }
}

@media screen and (min-width: 1500px) {
    .contents-rect {
        width: 900px;
        justify-content: center;
    }
}