<li class="contents-music-box">
    <div class="contents-music-box-image-container">
        <img class="contents-music-box-image" src="{{ src }}">
    </div>
    <div class="contents-music-box-text-container">
        <a class="contents-music-link-to-track" href="">
            <span class="contents-music-box-text">Track {{ seq_num }}</span>
        </a>
        <a class="contents-music-link-to-artist" href="">
            <span class="contents-music-box-artist">Artist {{ seq_num }}</span>
        </a>
    </div>
</li>